<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:anroid="http://schemas.android.com/apk/res-auto"
          package="com.qianqi.mylook">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_APP_OPS_STATS"/>
    <!--umeng begin-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--umeng end-->

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/power_saving_mode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action."/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PowerModeSelectActivity"
            android:label="@string/power_saving_mode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action."/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SmartModeConfigActivity"
            android:label="@string/custom_smart_mode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action."/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AppConfigActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action."/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EggshellActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action."/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".stat.StatActivity"
            android:process=":core"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action."/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".core.CoreReceiver"
            android:process=":core"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="qianqi.action.LAUNCH_MYLOOK"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <!--<intent-filter android:priority="2147483647">-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
            <!--</intent-filter>-->
            <intent-filter android:priority="2147483647">
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.ANY_DATA_STATE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <action android:name="android.intent.action.MEDIA_CHECKING"/>
                <action android:name="android.intent.action.MEDIA_EJECT"/>
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".core.CoreService"
            android:process=":core"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".core.CoreService$CoreInnerService"
            android:process=":core"
            android:enabled="true"
            android:exported="false"/>

        <service android:name=".core.WindowService"
                 android:process=":core"
                 android:label="@string/window_service_label"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config"/>
        </service>

        <provider
            android:name="com.qianqi.mylook.db.LookProvider"
            android:authorities="com.qianqi.mylook.provider"
            android:process=":core"
            android:exported="true"/>

        <meta-data android:value="58a56c1b1061d20a6100115f" android:name="UMENG_APPKEY"/>
        <!--<meta-data android:value="RW1001" android:name="UMENG_CHANNEL"/>-->
        <!--<meta-data android:value="HZ1001" android:name="UMENG_CHANNEL"/>-->
        <!--<meta-data android:value="GP" android:name="UMENG_CHANNEL"/>-->
        <!--<meta-data android:value="CW1003" android:name="UMENG_CHANNEL"/>-->
        <!--<meta-data android:value="RH1001" android:name="UMENG_CHANNEL"/>-->
        <!--<meta-data android:value="YS1001" android:name="UMENG_CHANNEL"/>-->
        <!--<meta-data android:value="YS1002" android:name="UMENG_CHANNEL"/>-->
        <!--<meta-data android:value="LY1001" android:name="UMENG_CHANNEL"/>-->
        <!--<meta-data android:value="LY1002" android:name="UMENG_CHANNEL"/>-->
        <meta-data android:value="tbtest" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>