<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.system.manager"
    android:sharedUserId="android.uid.system">

    <!--<uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!--<uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" />-->
    <!--<uses-permission android:name="android.permission.REAL_GET_TASKS"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>-->
    <!--<uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true">

    <!-- android:process="system"> -->

        <service
            android:name=".SService"
            android:process="system"
            android:exported="false">
        </service>

        <receiver android:name=".LaunchReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SYSTEM_MANAGER" />
            </intent-filter>
        </receiver>

        <!--<activity android:name=".MainActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>