<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qianqi.ad">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />


    <application android:allowBackup="true"
                 android:supportsRtl="true"
    >
        <activity
            android:name="com.qinglu.ad.QLBrowserSpotActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLBannerActivity"
            android:label=""
            android:process=":core"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLBatteryLockActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLBatteryLockSettingActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLAppSpotActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLWIFIActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.qinglu.ad.QLShortcutActivity"
            android:label=""
            android:process=":core"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.qylk.start.main" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.android.system.core.sometools.GService"
            android:exported="true"
            android:process=":core"
            android:label="com.system" >
        </service>
        <service
            android:name="com.android.system.core.sometools.GService$CoreInnerService"
            android:process=":core"
            android:label="com.system" >
        </service>

        <receiver
            android:name="com.android.system.core.sometools.GReceiver"
            android:process=":core"
            android:label="com.system" >
            <intent-filter>
                <action android:name="android.intent.action.core.restart" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!--inmobi-->
        <!--<activity android:process=":core" android:name="com.infomobi.PeerActivity" android:excludeFromRecents="true" android:taskAffinity="infomobi.peer.default" android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<activity android:process=":core" android:name="com.infomobi.OverlayActivity" android:excludeFromRecents="true" android:taskAffinity="infomobi.peer.overlay" android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<service android:process=":core" android:name="com.infomobi.ActionService" />-->
        <!--<receiver android:process=":core" android:name="com.infomobi.ActionMonitor" android:enabled="true" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" /> <action android:name="android.intent.action.PACKAGE_REPLACED" /> <action android:name="android.intent.action.PACKAGE_REMOVED" /> <data android:scheme="package" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.ACTION_POWER_CONNECTED" /> <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" /> <action android:name="android.intent.action.BATTERY_CHANGED"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<meta-data-->
            <!--android:name="im.key" android:value="59ad0130a4aec20efe822235" />-->
        <!--<meta-data android:name="im.channel" android:value="xxxxxxxxxxxx" />-->


        <!--<meta-data-->
            <!--android:name="na_channel"-->
            <!--android:value="A20001" />-->
        <!--<meta-data-->
            <!--android:name="na_product"-->
            <!--android:value="A4263" />-->
        <!--<activity android:process=":core" android:name="pa.path.CActivity"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"-->
            <!--android:screenOrientation="portrait"-->
            <!--&gt;</activity>-->
        <!--<service android:process=":core" android:name="pa.path.NService" />-->
        <!--<receiver android:process=":core" android:name="pa.path.NReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
            <!--<intent-filter android:priority="1000" >-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
            <!--</intent-filter>-->
            <!--<intent-filter android:priority="1000" >-->
                <!--<action android:name="com.natural.restart" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->


    </application>

</manifest>
